@{
    ViewData["Title"] = "Anmelden";
}
@model AnmeldenAnsichtModell
@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Registrierungsformular für Benutzer</h2>
        @if (TempData["ErfolgsNachricht"]!=null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["ErfolgsNachricht"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">

        </div>

        <form asp-controller="Home" asp-action="Anmelden" method="post">
            <div class="row mb-3">
                <label for="BenutzerName" class="col-md-4 col-form-label" asp-for="BenutzerName">Benutzername</label>
                <div class="col-md-8">
                    <input asp-for="BenutzerName" class="form-control">
                    <span asp-validation-for="BenutzerName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="Telefonnummer" class="col-md-4 col-form-label" asp-for="Telefonnummer"></label>
                <div class="col-md-8">
                    <input asp-for="Telefonnummer" class="form-control">
                    <span asp-validation-for="Telefonnummer" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="Passwort" class="col-md-4 col-form-label" asp-for="Passwort"></label>
                <div class="col-md-8">
                    <input asp-for="Passwort" class="form-control">
                    <span asp-validation-for="Passwort" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswortBestätigen" class="col-md-4 col-form-label" asp-for="PasswortBestätigen">Passwort Bestätigen</label>
                <div class="col-md-8">
                    <input asp-for="PasswortBestätigen" class="form-control">
                    <span asp-validation-for="PasswortBestätigen" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8" offset-md-2>
                    <button type="submit" class="btn btn-primary">Anmelden</button>
                </div>
            </div>
        </form>
    </div>
</div>