@{
    ViewData["Title"] = "Einloggen";
}
@model EinloggenAnsichtModell
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Benutzer-Login-Formular</h2>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>
        <form asp-controller="Home" asp-route-returnurl="@Context.Request.Query["returnUrl"]" asp-action="Einloggen" method="post">
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email">E-Mail Adresse</label>
                <input class="form-control" aria-describedby="emailHelp" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
                <div id="emailHelp" class="form-text">Wir werden Ihre E-Mail niemals an Dritte weitergeben.</div>
            </div>
            <div class="mb-3">
                <label for="Passwort" class="form-label" asp-for="Passwort">Passwort</label>
                <input type="password" class="form-control" asp-for="Passwort">
                <span asp-validation-for="Passwort" class="text-danger"></span>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="ErrinnereMich">
                        <label class="form-check-label" for="ErrinnereMich" asp-for="ErrinnereMich">Errinnere mich</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <a class="float-end" asp-controller="Home" asp-action="PasswortZurücksetzen">Passwort vergessen?</a>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Einloggen</button>
        </form>
    </div>
</div>


