
@{
    ViewData["Title"] = "Index";
}

<h1>
    BerechtigungenRoot.Berechtigungen.Bestellung.Lesen, BerechtigungenRoot.Berechtigungen.Vorrat.Lesen, BerechtigungenRoot.Berechtigungen.Katalog.Lesen
</h1>

