@{
    ViewData["Title"] = "Index";
}
@model BenutzerAnsichtModell

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Benutzerinformationen</h1>
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">Benutzername</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefonnummer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.BenutzerName</td>
                    <td>@Model.Email</td>
                    <td>@Model.Telefonnummer</td>
            </tbody>
        </table>
    </div>
</div>