@{
    ViewData["Title"] = "PasswortÄnderung";
}
@model PasswortÄndernAnsichtsModell
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Änderung des Passworts</h2>
        @if (TempData["ErfolgsNachricht"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["ErfolgsNachricht"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>

        <form asp-controller="Mitglied" asp-action="PasswortÄnderung" method="post">
            <div class="row mb-3">
                <label for="AltesPasswort" class="col-md-4 col-form-label" asp-for="AltesPasswort">Altes Passwort</label>
                <div class="col-md-8">
                    <input type="password" asp-for="AltesPasswort" class="form-control">
                    <span asp-validation-for="AltesPasswort" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="NeuesPasswort" class="col-md-4 col-form-label" asp-for="NeuesPasswort">Neues Passwort</label>
                <div class="col-md-8">
                    <input type="password" asp-for="NeuesPasswort" class="form-control">
                    <span asp-validation-for="NeuesPasswort" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswortBestätigen" class="col-md-4 col-form-label" asp-for="PasswortNeuBestätigen">Passwort Bestätigen</label>
                <div class="col-md-8">
                    <input type="password" asp-for="PasswortNeuBestätigen" class="form-control">
                    <span asp-validation-for="PasswortNeuBestätigen" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8 offset-md-4 text-center">
                    <button type="submit" class="btn btn-primary">Passwort ändern</button>
                </div>
            </div>
        </form>
    </div>
</div>
