@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Mitglied" asp-action="Index">Profil</a></li>
                <li><a class="dropdown-item" asp-controller="Mitglied" asp-action="PasswortÄnderung">Passwort ändern</a></li>
                <li><a class="dropdown-item" asp-controller="Mitglied" asp-action="BenutzerBearbeiten">Profil aktualisieren</a></li>
                <li><a class="dropdown-item" asp-route-returnurl="/Home/Index" asp-controller="Mitglied" asp-action="Ausloggen">Ausloggen</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menü
        </button>
        <ul class="dropdown-menu text-center">
            <li><a class="dropdown-item" type="button" asp-controller="Home" asp-action="Anmelden">Anmelden</a></li>
            <li><a class="dropdown-item" type="button" asp-controller="Home" asp-action="Einloggen">Einloggen</a></li>
        </ul>
    </div>
}
